@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Montserrat",  sans-serif;
}
.cv-button{
  background: linear-gradient(90deg, #ffcc80, #fee1b5) ;
  padding: 10px 20px;
  width: 200px;
  text-align: center;
  height: 50px;
}
.indicator::before {
  content: '';
  margin: 0px 40px;
  display: flex;
  box-shadow: #ffb700 0px 0px 20px;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #f49504;
}
.indicator::after {
  content: '';
  margin: 0px auto;
  display: flex;
  justify-content: center;
  width: 3px;
  height: 100%;
  border-radius: 50px;
  background: #f49504;
}
.indicator{
  
  height: 100%;
}
.range{
  background: linear-gradient(90deg, #ff7b00, #ffcc80);
}
.menu-range{
  background: linear-gradient(90deg, #ff7b00, #ffcc80);
}
.preview-1{
  background: linear-gradient(90deg, #ff7b00, #ffcc80);
  box-shadow: #f49504 -2px 2px 7px;
}
.preview-1:hover{
  box-shadow: #f49504 2px 5px 7px;
}

.preview-2:hover{
  animation: bounce 0.3s ease-in-out infinite ;
}
.range{
  animation: full 1s ease-in-out ;
}
@keyframes full {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@keyframes bounce {
  0%, 100% {
      transform: rotateZ(3deg);
  }
  50% {
      transform: rotateZ(-3deg);
  }
}